/accordion.js
/autocomplete.js
/button.js
/checkboxradio.js
/controlgroup.js
/datepicker.js
/dialog.js
/draggable.js
/droppable.js
/menu.js
/mouse.js
/progressbar.js
/resizable.js
/selectable.js
/selectmenu.js
/slider.js
/sortable.js
/spinner.js
/tabs.js
/tooltip.js
