/effect-blind.js
/effect-bounce.js
/effect-clip.js
/effect-drop.js
/effect-explode.js
/effect-fade.js
/effect-fold.js
/effect-highlight.js
/effect-puff.js
/effect-pulsate.js
/effect-scale.js
/effect-shake.js
/effect-size.js
/effect-slide.js
/effect-transfer.js
