html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

body {
font: normal normal normal 12px/1.4em 'Open Sans',sans-serif;
color: #000000;
}

.background {
left:0;
right:0;
width:100%;
position:absolute;
}

.background-img {
background: url(../img/siteBackground.jpg);
background-image: url(../img/siteBackground.jpg);
background-attachment: fixed;
background-size: cover;
background-position: center top;
background-position-x: center;
background-position-y: top;
background-repeat: no-repeat no-repeat;
background-color: #404040;
width: 100%;
position: fixed;
top: 0;
height: 100%;
}

.container {
width: 980px;
padding-bottom: 1px;
min-height: 100%;
position: relative;
margin: 0 auto;
}

.structure {
position: static;
width: 980px;
top: 0px;
height: 100%;
}

.header {
position: absolute;
top: 0px;
height: 161px;
width: 980px;
left: 0px;
}

.header-bg {
position: absolute;
top: 0;
right: 0;
bottom: 0px;
left: 0;
background-color: rgba(255, 255, 255, 1);
border-radius: 0;
}

.logo {
position: absolute;
top: 29px;
height: 66px;
width: 235px;
left: 19px;
}

.logo-link {
width: 235px;
height: 66px;
cursor: pointer;
display: block;
border-radius: 5px;
background-color: rgba(255, 255, 255, 1);
border: 0px solid rgba(255, 255, 255, 1);
overflow: hidden;
height: 100%;
background: url(../img/logo.jpg);
background-image: url(../img/logo.jpg);
}

.dropdwn-menu {
position: absolute;
top: 123px;
height: 30px;
width: 945px;
left: 17px;
}

.menu-items {
height: 30px;
display: inline-block;
text-align: left;
overflow: visible;
width: -webkit-calc(100% - 0px);
width: calc(100% - 0px);
white-space: nowrap;
position: relative;
}

.menu-link {
display: inherit;
position: relative;
box-sizing: border-box;
width: 236px;
height: 30px;
overflow: visible;
}

.gapper {
padding: 0 7px;
}

.wrapper {
cursor: pointer;
font: normal normal bold 13px/1.4em 'Open Sans',sans-serif;
border-top: 1px solid rgba(0, 0, 0, 1);
}

.wrapper:hover{
border-top-width:4px;
border-top-color:rgba(0, 0, 0, 1);
}

.label {
color: #000000;
display: inline-block;
padding: 8px;
line-height: 30px;
text-align: left;}

.wrapper:hover .label {
padding-top:5px;}

.drop-wrapper {
z-index: 99999;
display: block;
opacity: 1;
visibility: hidden;
position: absolute;
margin-top: 6px;
padding: 15px 5px 0 5px;
background-color: rgba(255, 255, 255, 1);
border-radius: 0;
right: auto;
bottom: auto;
left: 0px;
}


.drop-items {
visibility: hidden; 
left: 0px; 
right: auto;
overflow: visible;
display: inherit;
white-space: nowrap;
width: auto;
}

.dropdown:hover .drop-wrapper{
visibility: inherit;
}

.dropdown:hover .drop-wrapper .drop-items {
visibility: inherit;
}

.drop-link {
width: 100%; 
display: block; 
position: relative; 
box-sizing: border-box; 
min-width: 237px;}

.footer {
position: absolute;
top: 1024px;
height: 127px;
width: 980px;
left: 0px;
bottom: auto;
}

.footer-content {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(255, 255, 255, 1);
border-radius: 0;}

.copyright {
position: absolute;
top: 59px;
width: 952px;
left: 20px;
font: normal normal normal 11px/1.4em 'Open Sans',sans-serif;
color: #000000;
}

.line {
border-bottom: 1px solid rgba(0, 0, 0, 1);
height: 0 !important;
min-height: 0 !important;
position: absolute;
top: 51px;
width: 940px;
left: 19px;
}

.page {
position: absolute;
top: 161px;
height: 100%;
width: 980px;
left: 0px;
}

.page-content {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(255, 255, 255, 1);
border-radius: 0;
}